.meganandiecover {
	background:url("../img/meganandiecover.jpeg");
	background-size: cover;
	text-align: center;
	padding: 100px 0;
}


.initial-page{
	background-image:url("../img/bg-init.jpg");
}
.img-ucsd{
	width: 120px;
	height: 120px;
}

.div-line-initial{
	background-color: blue;
}

.margin-initial{
	margin-bottom: 5%;
	margin-top: 5%;
}

.margin-initial2{
	margin-bottom: 45%;

}

.text-initial{
	color: white;
}

.div-initial-enter{
	padding-left: 0;
	padding-right: 0;
	margin-bottom: 34%;
}

.btn-initial-enter{
	padding-top: 3%;
	padding-bottom: 3%;
}

.margin-menu{
	margin-top: 28.9%;
	margin-bottom: 28.9%
}

.btn-menu{
	margin-bottom: 3%;
}

.btn-menu button{
	width:100%;
}

.height-nav{
	height: 100%;
}

.percents-nav{
	height: 70%;
}

.margin-nav{
	margin-bottom: 20%;
}

.margin-dict{
	margin-top: 15%;
	margin-bottom: 5%;
}


