<!DOCTYPE html>
<html lang="en">

<head>
            <link rel="stylesheet" href="css/bootstrap.min.css">
            <link rel="stylesheet" href="css/style.css">
            <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

       <meta name="description" content="">
    <meta name="author" content="">

    <title>About</title>

</head>

<body>
    <div id="wrap">
        <div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="javascript:history.go(-1)"><span class="glyphicon glyphicon-circle-arrow-left"></span></a>
                    <a class="navbar-brand" href="menu"><span class="glyphicon glyphicon-home"></span></a>
                    <span align="right" class="navbar-brand" style="color:white;" id="status-connect">About</span>

                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse navbar-ex1-collapse">
                    <ul class="nav navbar-nav">
                        <li><a id="btn-myprofile">My Profile</a>
                        </li>
                        <li><a id="btn-mymeetups">My Meetups</a>
                        </li>
                        <li><a id="btn-about">About</a>
                        </li>
                        <li><a id="btn-help">Help/FAQ</a>
                        </li>
                        <li><a id="btn-logout">Logout</a>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container -->
        </div>
    
    <div id="myCarousel" class="carousel slide">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <a href="#">
                <img class="fill maxheight-carrousel2" src="img/greathall.jpg">
                <div class="carousel-caption"></div>
                </a>
            
            </div>
            <div class="item">
                <a href="#">
                <img class="fill maxheight-carrousel2" src="img/orientation.jpg">
                <div class="carousel-caption"></div>
                </a>
          
            </div>
            <div class="item">
                <a href="#">
                <img class="fill maxheight-carrousel2" src="img/centerhall.jpg">
                <div class="carousel-caption"></div>
                </a>
       
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>

    <div class="container">

        <div class="row section">
            <div class="col-xs-12 col-md-12">
                <h1>About our Mission</h1>
                <p>International Students often do not feel fully supported by the collegiate community. Although they are a large part of the student population, their circumstances often leave them at a social and academic disconnect. While there are various resources targeted for the international community, access to these organizations and opportunities are limited to those who know how to navigate through UCSD websites and search for this information. Thus, international students have trouble connecting with other students, utilizing academic resources, and familiarizing themselves with campus because of language and cultural barriers. We think that creating an app that will empower international students to use these opportunities on campus will allow them to become more actively involved on campus and in the larger community as a whole.</p>
                
            </div>
        </div>
    </div>
    <!-- /.container -->
    <div id="push"></div>
    </div>
<!--     <div id="footer">
          <div class="container">
            <h1 align="center">About</h1>
          </div>
        </div>   --> 
    <!-- JavaScript -->
    <script src="js/jquery-1.11.0.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script type="" src="js/scripts.js"></script>
    <!-- Script to Activate the Carousel -->
    <script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
    </script>
      <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-48451452-2', 'lucsdi.herokuapp.com');
      ga('send', 'pageview');


    </script>
</body>

</html>
