<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>Connect: Organizations</title>

</head>

<body>

    <div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="menu">Home</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <li><a id="btn-myprofile">My Profile</a>
                    </li>
                    <li><a id="btn-about">About</a>
                    </li>
                    <li><a id="btn-help">Help/FAQ</a>
                    </li>
                    <li><a id="btn-logout">Logout</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </div>

    <div id="content-minor" class="container">

        <div class="row">
            <div class="col-xs-12 col-md-12">
                <h3 class="page-header">Social Organizations</h3>
            </div>
        </div>
    

       <div class="row">
            <div class="col-xs-12 col-md-12"> 
                <div class="row carousel-holder">

                    <div class="col-md-12">
                        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                            <!-- <ol class="carousel-indicators">
                                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                            </ol> -->
                            <div class="carousel-inner">
                                <div class="item active">
                                    <img class="slide-image" src="img/folklorico.jpg" alt="">
                                </div>
                                <div class="item">
                                    <img class="slide-image" src="img/tritones.jpg" alt="">
                                </div>
                                <div class="item">
                                    <img class="slide-image" src="img/recruitment.jpg" alt="">
                                </div>
                            </div>
                            <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left"></span>
                            </a>
                            <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right"></span>
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-md-12">
                <h3 class="page-header">Academic Clubs</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                 <div class="row carousel-holder">

                    <div class="col-md-12">
                        <div id="carousel-2" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li data-target="#carousel-2" data-slide-to="0" class="active"></li>
                                <li data-target="#carousel-2" data-slide-to="1"></li>
                                <li data-target="#carousel-2" data-slide-to="2"></li>
                            </ol>
                            <div class="carousel-inner">
                                <div class="item active">
                                    <img class="slide-image" src="img/cssa-club.jpg">
                                </div>
                                <div class="item">
                                    <img class="slide-image" src="img/phisigpi.jpg" alt="">
                                </div>
                                <div class="item">
                                    <img class="slide-image" src="img/literary-club.jpg" alt="">
                                </div>
                            </div>
                            <a class="left carousel-control" href="#carousel-2" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left"></span>
                            </a>
                            <a class="right carousel-control" href="#carousel-2" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right"></span>
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-md-12">
                <h3 class="page-header">Sports and Recreation</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-md-12">
                <div class="row carousel-holder">

                    <div class="col-md-12">
                        <div id="carousel-3" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li data-target="#carousel-3" data-slide-to="0" class="active"></li>
                                <li data-target="#carousel-3" data-slide-to="1"></li>
                                <li data-target="#carousel-3" data-slide-to="2"></li>
                            </ol>
                            <div class="carousel-inner">
                                <div class="item active">
                                    <img class="slide-image" src="img/surfclub.jpg" alt="">
                                </div>
                                <div class="item">
                                    <img class="slide-image" src="img/psycho.jpg" alt="">
                                </div>
                                <div class="item">
                                    <img class="slide-image" src="img/triathlon.jpg" alt="">
                                </div>
                            </div>
                            <a class="left carousel-control" href="#carousel-3" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left"></span>
                            </a>
                            <a class="right carousel-control" href="#carousel-3" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right"></span>
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-xs-12 col-md-12">
                <br>
                <a class="btn btn-primary col-xs-12 col-md-3" href="http://tonga.ucsd.edu/studentorgregistration/RdOnlyList.aspx">Like what you see? Click to find more!</a>
            </div>
        </div>
    </div>
    
    <div id="push"></div>

<div id="footer">
          <div class="container">
            <h1 align="center">Organizations</h1>
          </div>
</div>   
                
  
    <!-- /.container -->

    <!-- JavaScript -->
    <script src="js/jquery-1.11.0.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script type="" src="js/scripts.js"></script>

</body>

</html>
