<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>Connect</title>

</head>
            
<body>
    
        <div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="javascript:history.go(-1)"><span class="glyphicon glyphicon-circle-arrow-left"></span></a>
                    <a class="navbar-brand" href="menu"><span class="glyphicon glyphicon-home"></span></a>
       <!-- <h4 class="navbar-brand" position="top" align="right"> Connect </h4> -->
                    <span align="right" style="color:white;">Connect</span>

                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse navbar-ex1-collapse">
                    <ul class="nav navbar-nav">
                        <li><a id="btn-myprofile">My Profile</a>
                        </li>
                        <li><a id="btn-mymeetups">My Meetups</a>
                        </li>
                        <li><a id="btn-about">About</a>
                        </li>
                        <li><a id="btn-help">Help/FAQ</a>
                        </li>
                        <li><a id="btn-logout">Logout</a>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container -->
        </div>

        <div id="content-minor" class="container">

            <div class="row">

                <div class="col-md-12 col-xs-12">
                    <br>
                    <h1 class="page-header">Connect
                        <small>and get involved in campus life</small>
                    </h1>
                </div>

            </div>

            <div class="container">
                <h3>Student Meetups</h3>
                <div class="row">
                    <a href="#">
                        <img class="img-thumbnail" src="img/connect-student.jpg">
                    </a>
                </div>

                <div class="row">
                    
                    <p>Meet with other students by joining a meetup or hosting an event of your own! Attend, socialize, and participate in campus club events or orginizations in the San Diego area. </p>
                    <a class="btn btn-primary" id="btn-meetup">Connect</a>
                </div>

            </div>

            <hr>

            <div class="container">
                <h3>Tutors and Advisors</h3>
                <div class="row">
                    <a href="#">
                        <img class="img-thumbnail" src="img/connect-tutor.jpg">
                    </a>
                </div>

                <div class="row">
                    <p>Need to talk to a tutor or an advisor? Find tutors for your classes or find department and international advisors and make an appointment.</p>
                    <a class="btn btn-primary" id="btn-tutorAdvisor">Connect</a>
                </div>

            </div>

            <hr>

            <div class="container">
                <h3>UCSD Clubs and Organizations</h3>
                <div class="row">
                    <a href="#">
                        <img class="img-thumbnail" src="img/connect-orgs.jpg">
                    </a>
                </div>

                <div class="row">
                    
                    <p>Browse through a list of featured academic, social, and sports/recreational clubs.</p>
                    <a class="btn btn-primary" id="btn-orgClubs">Connect</a>
                </div>

            </div>
      
        </div>

        <div id="push"></div>
   
  <!--  <div id="footer">
          <div class="container">
            <h1 align="center">Connect</h1>
          </div>
    </div>   -->

    <!-- /.container -->

    <!-- JavaScript -->
    <script src="js/jquery-1.11.0.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script type="" src="js/scripts.js"></script>

</body>

</html>