<!DOCTYPE html>
<html lang="en">

<head>
            <link rel="stylesheet" href="css/bootstrap.min.css">
            <link rel="stylesheet" href="css/style.css">
            <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div id="wrap">
    <div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                
                <a class="navbar-brand" href="javascript:history.go(-1)"><span class="glyphicon glyphicon-circle-arrow-left"></span></a>
                <a class="navbar-brand" href="menu"><span class="glyphicon glyphicon-home"></span></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <li><a id="btn-myprofile">My Profile</a>
                    </li>
                    <li><a id="btn-mymeetups">My Meetups</a>
                    </li>
                    <li><a id="btn-about">About</a>
                    </li>
                    <li><a id="btn-help">Help/FAQ</a>
                    </li>
                    <li><a id="btn-logout">Logout</a>
                    </li>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </div>


    <div id="content-minor" class="container">
        <div class="row">
            <div class="col-xs-12 col-md-12 section">

                <h2 class="page-header">FAQ About Our App</h2>

                <p>
                <a href="javascript:toggleElement('a1')">Is this mobile app only targetted for UCSD International Students?</a>
                </p>
                <div id="a1" style="display:none">
                No! Non-international students are encouraged to create a profile. The features of this app such as navigate, plan, and connect are great ways for new students to become integrated on campus. Additionally, bilingual students or students seeking to tutor or become acquainted with a second language can use this social app to meet international students on campus.
                </div>

                <p>
                <a href="javascript:toggleElement('a2')">When will I receive my appointment confirmation from my tutor/advisor?</a>
                </p>
                <div id="a2" style="display:none">
                You will receive appointment confirmation via email within the next week when the tutor or advisor has confirmed your availability.
                </div>

                <p>
                <a href="javascript:toggleElement('a3')">How will I be notified who is coming to my meetup?</a>
                </p>
                <div id="a3" style="display:none">
                You will receive an email notification when someone has joined your Meetup along with his/her contact information.
                </div>

                <h2 class="page-header">FAQ for International Students</h2>

                <p>
                <a href="javascript:toggleElement('a4')">How may I contact the International Students & Programs Office (ISPO)?</a>
                </p>
                <div id="a4" style="display:none">
                <ul>
                    <li>Phone: (858) 434=3730</li>
                <li>Mailing Address: 9500 Gilman Drive #0018 La Jolla, California 92093-0018</li>
                <li>Location: 1st Floor of International Center, across from Center Hall on Library Walk</li>
                <li>Hours: Monday through Friday 9:00AM to 4:00PM</li>
                </div>

                <p>
                <a href="javascript:toggleElement('a5')">What do I do if I forget to obtain a valid travel signature?</a>
                </p>
                <div id="a5" style="display:none">
                If you forget your travel signature and have already left the United States, please follow these steps:
                <ol>
                        <li> Fill in a replacement <a href="http://icenter.ucsd.edu/ispo/current/forms-guides/forms/f-1/other/I20_request.pdf"target="_blank">I-20 Request Form</a> (F-1 students) or a replacement <a href="http://icenter.ucsd.edu/ispo/current/forms-guides/forms/j-1/other/ds2019request-current.pdf"target="_blank">DS-2019 Form</a>(J-1 students). Choose "Replacement I-20" or "Replacement DS-2019" from the request list and briefly state that you need a new travel signature.</li>

                        <li> Set up an <a href="http://icenter.ucsd.edu/ispo/current/forms-guides/guides/express-mail.html"target="_blank">Express Mail Services Account (eShipGlobal)</a> so that we can send your I-20 back to you.</li>

                        <li>Email istudents@ucsd.edu with both your I-20 Request Form/DS-2019 Request Form and your Express Mail tracking number.</li>

                        <li>Please allow 10 business days for processing.</li>

                    </ol>
                </div>


                <p>
                <a href="javascript:toggleElement('a6')">How can I get a Social Security Number(FF1 student)</a>
                </p>
                <div id="a6" style="display:none">
                You must apply in person at a local Social Security Administration office (SSA). F-1 students must provide the following documents to apply for a SSN:
                Job offer letter from your employer with a start date no more than 30 days in the future
                Verification letter from the UCSD International Center. Please complete and submit a Letter Request Form and your job offer letter from your employer to obtain a Verification letter. Verification letters take 5 business days to process.
                Passport
                I-94 card (small white card stapled in the passport)
                NOTE: Copy the front and back of the I-94 to include with your application.
                UCSD ID Card, driver’s license, or other form of photo identification.
                Form SS-5
                Valid I-20 form
                </div>

                <p>
                <a href="javascript:toggleElement('a7')">How do I take a leave of absence?</a>
                </p>

                <div id="a7" style="display:none">
                Students who wish to go on a leave of absence from UC San diego for one or more quarters must obtain permission from the International Students & Programs Office prior to their proposed leave. Both F-1 and J-1 students can find out how to do this on our Leave of Absence page.
                </div>
            </div>

                
        </div>
    </div>
    <div id="push"></div>
</div>
<div id="footer">
  <div class="container">
    <h1 align="center">Help / FAQ</h1>
  </div>
</div>   

   

    <!-- /container -->

    <!-- JavaScript -->
        <script type="" src="js/jquery-1.11.0.min.js"></script>
        <script type="" src="js/bootstrap.min.js"></script> 
        <script type="" src="js/scripts.js"></script>
          <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-48451452-2', 'lucsdi.herokuapp.com');
      ga('send', 'pageview');


    </script>
</body>

</html>
