<!DOCTYPE html>
<html lang="en">

<head>
            <link rel="stylesheet" href="css/bootstrap.min.css">
            <link rel="stylesheet" href="css/style.css">
            <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <div id="wrap">
        <div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="menu">Home</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse navbar-ex1-collapse">
                    <ul class="nav navbar-nav">
                        <li><a id="btn-myprofile">My Profile</a>
                        </li>
                        <li><a id="btn-about">About</a>
                        </li>
                        <li><a id="btn-help">Help/FAQ</a>
                        </li>
                        <li><a id="btn-logout">Logout</a>
                        </li>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container -->
        </div>

        <div class="meganandiecover">
                    <img class="img-thumbnail h-img" src="img/meganandie.jpg" align="middle" />
               
        </div>

        <div id="content-zero" class="container">
            
            <div class="row">
                <div class="col-xs-12 col-md-12 section">
                    <h1 class="section-heading">Megan Ring</h1>
                    <br>
                    <p class="lead section-lead">I am a second year Cognitive Science major with a specialization in Human Computer Interaction and minor in Computer Science at UC San Diego. I like long walks on the beach and One Direction.</p>
                    <p class="lead section-lead">Languages: English (Native Proficiency), Mandarin (Elementary Proficiency)</p>
                    <p class="lead section-lead">Hometown/Country: Shanghai, China</p>

                
                    <h2>Current Classes</h2> 
                    <ul>       
                        <li>MMW 14</li>                 
                        <li>Cogs 120</li>               
                        <li>Cogs 102B</li>              
                        <li>Vis 126P</li>              
                    </ul>
                    
                    <h2>Interests</h2>
                    <ul>
                        <li>Contemporary Dance</li>
                        <li>Sustainable energy</li>
                        <li>One Direction</li>
                        <li>One Direction</li>
                        <li>Baking for the homeless</li>
                    </ul>
                </div>
            </div>
        </div>
        <div id="push"></div>
    </div>
    <div id="footer">
          <div class="container">
            <h1 align="center">Profile</h1>
          </div>
        </div>   

    <!-- /full-width-image-1 -->


    <!-- FOOTER -->
    <!--<div class="footer">
                <h1> MY PROFILE </h1>
    </div>-->

    <!-- /container -->

    <!-- JavaScript -->
    <script type="text/javascript" src="js/jquery-1.11.0.min.js"></script>
        <script type="text/javascript" src="js/bootstrap.min.js"></script>  
        <script type="text/javascript" src="js/scripts.js"></script>

</body>

</html>
