<!DOCTYPE html>
<html>
	<head>
			<link rel="stylesheet" href="css/bootstrap.min.css">
			<link rel="stylesheet" href="css/style.css">
			<meta name="viewport" content="width=device-width, initial-scale=1">
			<title>Navigate</title>
	</head>

	<body>
        <div id="wrap">
    		<div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
            	<div class="container">
                	<div class="navbar-header">
                    	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                        	<span class="sr-only">Toggle navigation</span>
                        	<span class="icon-bar"></span>
                        	<span class="icon-bar"></span>
                        	<span class="icon-bar"></span>
                    	</button>
                    	<a class="navbar-brand" href="menu">Home</a>
                	</div>

                	<!-- Collect the nav links, forms, and other content for toggling -->
                	<div class="collapse navbar-collapse navbar-ex1-collapse">
                    	<ul class="nav navbar-nav">
                        	 <li><a id="btn-myprofile">My Profile</a>
                        </li>
                        <li><a id="btn-about">About</a>
                        </li>
                        <li><a id="btn-help">Help/FAQ</a>
                        </li>
                        <li><a id="btn-logout">Logout</a>
                        </li>
                    	</ul>
                	</div>
                	<!-- /.navbar-collapse -->
            	</div>
            	<!-- /.container -->
        	</div>
            <div id='content' class="container height-hundred">
                <div class="row height-hundred">
                    
                    <div class="col-xs-12 col-md-12 height-hundred">
                      <iframe width="275" height="325" src="http://www.embed-google-map.com/map.php?zoom=16&lat=32.88111694235451&lat2=-117.2375536021301&type=ROADMAP&title=UCSD&street=9500 Gilman Drive&zip=&city=La Jolla&width=275&height=325&info=&iwloc=near" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"><a class="google-map-data" href="http://www.addlikebutton.net" id="get-map-data">http://www.addlikebutton.net</a><style>closemap"init"if=gmaps_connect-start="25"check_maps</style></iframe>
                    </div>
                  
                
                </div>
            </div>
            <div id="push"></div>
        </div>
		<div id="footer">
          <div class="container">
            <h1 align="center">Navigate</h1>
          </div>
        </div>	 
		

		<script type="text/javascript" src="js/jquery-1.11.0.min.js"></script>
		<script type="text/javascript" src="js/bootstrap.min.js"></script>	
		<script type="text/javascript" src="js/scripts.js"></script>

	</body>

</html>