<!DOCTYPE html>
<html>
	<head>
			<link rel="stylesheet" href="css/bootstrap.min.css">
			<link rel="stylesheet" href="css/style.css">
			<meta name="viewport" content="width=device-width, initial-scale=1">
			<title>Navigate</title>
	</head>

	<body>
        <div id="wrap">
    		<div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
            	<div class="container">
                	<div class="navbar-header">
                    	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                        	<span class="sr-only">Toggle navigation</span>
                        	<span class="icon-bar"></span>
                        	<span class="icon-bar"></span>
                        	<span class="icon-bar"></span>
                    	</button>
                    	<a class="navbar-brand" href="menu">Home</a>
                	</div>

                	<!-- Collect the nav links, forms, and other content for toggling -->
                	<div class="collapse navbar-collapse navbar-ex1-collapse">
                    	<ul class="nav navbar-nav">
                        	<li><a href="myprofile.html">My Profile</a>
                        	</li>
                        	<li><a href="about.html">About</a>
                        	</li>
                        	<li><a href="help.html">Help/FAQ</a>
                        	</li>
                        	<li><a href="logout.html">Logout</a>
                        	</li>
                    	</ul>
                	</div>
                	<!-- /.navbar-collapse -->
            	</div>
            	<!-- /.container -->
        	</div>
            <div id='content' class="container height-hundred">
                <div class="row height-hundred">
                    <div id ="wrap">
                    <div class="col-xs-12 col-md-12 height-hundred">
                        <iframe src="https://mapsengine.google.com/map/embed?mid=z1qNeEDxmtOc.k478IdjOa-G8" width="640" height="480"></iframe>
                    </div>
                    </div>
                
                </div>
            </div>
            <div id="push"></div>
        </div>
		<div id="footer">
          <div class="container">
            <h1 align="center">Navigate</h1>
          </div>
        </div>	 
		

		<script type="text/javascript" src="js/jquery-1.11.0.min.js"></script>
		<script type="text/javascript" src="js/bootstrap.min.js"></script>	
		<script type="text/javascript" src="js/scripts.js"></script>

	</body>

</html>