<!DOCTYPE html>
<html lang="en">

<head>
            <link rel="stylesheet" href="css/bootstrap.min.css">
            <link rel="stylesheet" href="css/style.css">
            <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

    <div id="wrap">
    
        <div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="menu">Home</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse navbar-ex1-collapse">
                    <ul class="nav navbar-nav">
                        <li><a id="btn-about">About</a>
                        </li>
                        <li><a id="btn-help">Help/FAQ</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        


        <div id="content-minor" class="container">
            <div class="row">
                <div class="col-xs-12 col-md-12">
                    <h3 class="page-header">Sign Up Here</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-12">
                    <form role="form" method="post" action="confirmSignUp">
                      <div class="form-group">
                        <label for="firstname">First name</label>
                        <input type="text" class="form-control" id="firstname" name="firstname" placeholder="Enter first name">
                      </div>
                      <div class="form-group">
                        <label for="lastname">Last Name</label>
                        <input type="text" class="form-control" id="lastname" name="lastname" placeholder="Enter last name">
                      </div>
                      <div class="form-group">
                        <label for="username">Username</label>
                        <input type="text" class="form-control" id="username" name="username" placeholder="Enter Username">
                      </div>
                      <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" id="password" name="password" placeholder="Enter password">
                      </div>
                      <div class="form-group">
                        <label for="photo">Photo</label>
                        <input type="text" class="form-control" id="photo" name="photo" placeholder="Enter the url of a picture of yourself">
                      </div>
                      <div class="form-group">
                        <label for="bio">Short Bio</label>
                        <textarea class="form-control" name="bio" id="bio" rows="4"></textarea>
                      </div>
                      <div class="form-group">
                        <label for="languages">Spoken Languages</label>
                        <textarea class="form-control" name="languages" id="languages" rows="4"></textarea>
                      </div>
                      <div class="form-group">
                        <label for="home">Hometown/Country</label>
                        <textarea class="form-control" name="home" id="home" rows="4"></textarea>
                      </div>
                      <div class="form-group">
                        <label for="classes">Current Classes</label>
                        <small><span class="red">*</span>One class per line of the textbox</small>
                        <textarea class="form-control" name="classes" id="classes" rows="4"></textarea>
                      </div>
                      <div class="form-group">
                        <label for="interests">Interests</label>
                        <small><span class="red">*</span>One interest per line of the textbox</small>
                        <textarea class="form-control" name="interests" id="interests" rows="4"></textarea>
                      </div>
                      <input type="submit" class="btn btn-primary col-xs-12 col-md-3" value="Submit">
                    </form>
                  </div>
              </div>
          </div>
        </div>
        
        <div id="push"></div>
  <div id="footer">
    <div class="container">
    <h1 align="center">Sign Up</h1>
    </div>
  </div>   
    <!-- /container -->

    <!-- JavaScript -->
        <script type="" src="js/jquery-1.11.0.min.js"></script>
        <script type="" src="js/bootstrap.min.js"></script> 
        <script type="" src="js/scripts.js"></script>

</body>

</html>
