<!DOCTYPE html>
<html>
	<head>
			<link rel="stylesheet" href="css/bootstrap.min.css">
			<link rel="stylesheet" href="css/style.css">
			<!--<meta name="google-translate-customization" content="35cc03ab75e437bc-e14d60884a617c63-g051ddde268416da9-14"></meta>-->
			<meta name="google-translate-customization" content="b46397d8bb759247-5a74d38a6f59ea7c-g24184e3df6a2d4cd-17"></meta>
			<meta name="viewport" content="width=device-width, initial-scale=1">
			<title>Translate</title>

	</head>
			
	<body>
		<div id="wrap">
			<div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
		        <div class="container">
		            <div class="navbar-header">
		                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
		                    <span class="sr-only">Toggle navigation</span>
		                    <span class="icon-bar"></span>
		                    <span class="icon-bar"></span>
		                    <span class="icon-bar"></span>
		                </button>
		                <a class="navbar-brand" href="menu">Home</a>
		            </div>

		            <!-- Collect the nav links, forms, and other content for toggling -->
		            <div class="collapse navbar-collapse navbar-ex1-collapse">
		                <ul class="nav navbar-nav">
		                    <li><a id="btn-myprofile">My Profile</a>
		                    </li>
		                    <li><a id="btn-about">About</a>
		                    </li>
		                    <li><a id="btn-help">Help/FAQ</a>
		                    </li>
		                    <li><a id="btn-logout">Logout</a>
		                    </li>
		                </ul>
		            </div>
		            <!-- /.navbar-collapse -->
		        </div>
	        <!-- /.container -->
	    	</div>
			<div id="content" class="container">
				<div class="row">
					
					<div class="col-xs-12 col-md-12">
						<div class="row">
							<form>
								<div class="col-md-12 col-xs-12">
									<div class="row margin-dict">
										<div class="col-md-8 col-xs-8">
											<input type="search" id="inputSearch" class="form-control" placeholder="Search for words here..."/>
										</div>
										<div class="col-md-4 col-xs-4">
											<button type="button" class="btn btn-primary col-md-12 col-xs-12" id="search-dict">Define</button>
										</div>
									</div>
								</div>
							</form>
						</div>
						<div class="row col-md-12 col-xs-12">
							<div class="margin-trans">
							<!--<div id="google_translate_element"></div><script type="text/javascript">
 function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.SIMPLE, autoDisplay: false}, 'google_translate_element');
}-->
<div id="google_translate_element"></div><script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: 'en', includedLanguages: 'ar,cs,da,de,el,en,es,fa,fr,hi,hy,id,it,iw,ja,ko,la,nl,pt,ro,ru,th,tl,vi,yi,zh-CN,zh-TW', layout: google.translate.TranslateElement.InlineLayout.SIMPLE, autoDisplay: false}, 'google_translate_element');
}

</script><script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
							</div> <!--end of added new div--> 
							
							<div id="content-dict"class="col-md-12 col-xs-12 content-dict2" >
								
							</div>
						</div>
						
						
					</div>
				</div>
			</div>
			<div id="push"></div>
		</div>
		<div id="footer">
          <div class="container">
            <h1 align="center">Translate</h1>
          </div>
        </div>	 

		<script type="text/javascript" src="js/jquery-1.11.0.min.js"></script>
		<script type="text/javascript" src="js/bootstrap.min.js"></script>	
		<script type="text/javascript" src="js/scripts.js"></script>

	</body>

</html>